.groupList {
  margin: 20px 0px;
}
.groupListItem {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin: 15px 0px;
  width: fit-content;
}
.groupListItemTitle {
  margin: 0px 10px;
}
