.groupMembers {
  padding: 15px 20px;
  width: fit-content;
  height: fit-content;
}
.groupMembersBody {
  height: 290px;
  overflow: auto;
  padding: 0px 15px;
}
.groupMembersItem {
  padding: 10px 5px;
  border-radius: 16px;
  display: flex;
  align-items: center;
}
.groupMembersItemTitle {
  margin: 0px 10px;
}
.count {
  font-size: 15px;
  text-align: center;
}
.count strong {
  font-size: 14px;
}
.groupMembersItemTitle span {
  font-size: 13px;
  background-color: darkslategray;
  color: white;
  padding: 5px;
  border-radius: 4px;
}
.groupMembersItemTitle p {
  font-size: 14px;
  color: #2a5885;
}
.groupMembersItemTitle p:hover {
  cursor: pointer;
}
