body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: blueviolet;
  margin: 10px 0px;
  cursor: pointer;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.css-46bh2p-MuiCardContent-root {
  padding: 0 16px;
}
.css-et1ao3-MuiTypography-root {
  font-weight: 600;
  font-size: 14px;
  color: #2a5885;
}
.css-et1ao3-MuiTypography-root:hover {
  cursor: pointer;
  text-decoration: underline;
}
.css-83ijpv-MuiTypography-root {
  font-size: 13px;
  color: #626d7a;
}
